<!-- <app-form-builder-ui></app-form-builder-ui>  -->
<!-- <app-form-builder [config]="formConfig" [values]="values"></app-form-builder>  -->
<!-- <app-roles-form></app-roles-form> -->
<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>border_color</mat-icon>
      Entity Forms
    </ng-template>
    <div class="p-4">
      <app-entity-forms></app-entity-forms>

    </div>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>assignment</mat-icon>
      Tasks
    </ng-template>
    <div class="p-4">
      <app-task-types-config></app-task-types-config>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>handshake</mat-icon>
      Deals
    </ng-template>
    <div class="p-4">
      <app-deal-types-config></app-deal-types-config>     
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>security</mat-icon>
      Roles
    </ng-template>
    <div>
      <app-roles-form></app-roles-form>
    </div>
  </mat-tab>



  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      Lists
    </ng-template>
    <div>
      <app-form-lists-ui></app-form-lists-ui>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>swap_horiz</mat-icon>
      Transfer
    </ng-template>
    <div class="p-4">
      <app-transfer></app-transfer>
    </div>
  </mat-tab>
</mat-tab-group>