<app-page-header header="Companies" icon="business">
  <button mat-raised-button class="ml-4" (click)="openNewCompanyTmpl()">
    <mat-icon>add</mat-icon>
    Add Company
  </button>
</app-page-header>

<div class="flex flex-row items-center justify-between px-3 pt-2 pb-4 bg-violet-200 rounded-sm shadow-md">

  <app-table-builder [config]="companiesTableConfig" *ngIf="companiesTableConfig" class="w-full">
    <ng-template appColumnTemplate="actions" let-row>

      <div class="flex flex-row">
        <button mat-icon-button (click)="openEditCompanyDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="openConfirmDeleteCompany(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>


    </ng-template>
  </app-table-builder>
</div>

<!-- TEMPATES ---------------------------------------->

<ng-template #previewCompanyTmpl>


  <mat-tab-group class="min-h-[80vh]" [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="selectedTabChange($event)" animationDuration="0">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">info</mat-icon>
        Info
      </ng-template>
      <div class="overflow-hidden p-4">
        <app-form-builder [config]="companyInfoFormConfig" [values]="companyInfoValues"
          (submitHandler)="updateCompany($event)">
        </app-form-builder>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">phone</mat-icon>
        Contacts
      </ng-template>
      <div class="overflow-hidden p-4">

        <app-form-builder [config]="companyContactsFormConfig" [values]="companyContactsValues"
          (submitHandler)="updateCompanyContacts($event)"></app-form-builder>
      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">folder</mat-icon>
        Assets
      </ng-template>
      <div class="overflow-hidden p-4">
        <app-folder-structure [dataSourceInput]="companyAssets" [pathPrefix]="'assets/' + companyInfoValues.id + '/'">
        </app-folder-structure>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">handshake</mat-icon>
        Deals
      </ng-template>
      <div class="p-4 text-center">
        <app-table-builder [config]="dealsTableConfig" *ngIf="dealsTableConfig">
          <ng-template appColumnTemplate="actions" let-row>
            <div class="flex flex-row">

              <button mat-icon-button (click)="openDealDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="deleteDeal(companyInfoValues, row)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </ng-template>
        </app-table-builder>
        <button mat-raised-button (click)="openDealDialog({})" class="mt-4">
          <mat-icon>add</mat-icon>
          Add New Deal
        </button>
      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">credit_card</mat-icon>
        Billing
      </ng-template>
      <div class="overflow-hidden p-4">

        <ng-container *ngIf="selectedTabIndex === 4 && (chartData?.categories?.length ?? 0) > 0">
          <app-chart [data]="chartData" [config]="chartConfig"></app-chart>
        </ng-container>

      </div>
    </mat-tab>

    <mat-tab *ngFor="let extraForm of extraForms;index as i">
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">{{extraForm.icon}}</mat-icon>
        {{extraForm.title}}
      </ng-template>

      <div class="p-4 overflow-hidden">
        <app-form-builder
          [config]="{fields: extraForm.fields}"
          [values]="companyInfoValues[extraForm.title] || {}"
          (submitHandler)="updateCompanyExtraFields($event, extraForm.title)">
        </app-form-builder>
      </div>
    </mat-tab>


  </mat-tab-group>
</ng-template>

<ng-template #dealTmpl>
  <div class="p-4">
    <app-deal-form [companyInfo]="companyInfoValues" [dealFormValues]="dealFormValues"
      (onAfterSubmitDeal)="onAfterSubmitDeal($event)"></app-deal-form>
  </div>
</ng-template>

<ng-template #newCompanyTmpl>
  <div class="p-4">
    <app-form-builder [config]="companyInfoFormConfig" (submitHandler)="addNewCompany($event)"></app-form-builder>
  </div>
</ng-template>