<div class="flex flex-row">
  <button mat-raised-button 
  (click)="openNewEmployeeDialog()">
    Add
    <mat-icon>manage_accounts</mat-icon>
  </button>
</div>

<app-table-builder [config]="tableConfig">
  <ng-template appColumnTemplate="actions" let-row>
    <button mat-icon-button (click)="openEditEmployeeDialog(row)">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
</app-table-builder>

<ng-template #previewEmployeeTmpl>
  <mat-tab-group>
    <mat-tab label="Tasks">

      <app-table-builder [config]="tasksTableConfig">
        <!-- <ng-template appColumnTemplate="actions" let-row>
          <button mat-icon-button (click)="openEditEmployeeDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-template> -->
      </app-table-builder>

    </mat-tab>
    <mat-tab label="Info">
      <app-form-builder 
      [config]="employeeFormConfig" 
      [values]="employeeData"
      (formValuesChange)="checkDepartment($event)"
      (submitHandler)="updateEmployee($event)"
      ></app-form-builder>
    </mat-tab>
  </mat-tab-group>

</ng-template>

<ng-template #addEmployeeTmpl>
  <app-form-builder 
  [config]="employeeFormConfig" 
  [values]="employeeData"
  (formValuesChange)="checkDepartment($event)"
  (submitHandler)="addNewEmployee($event)"
  ></app-form-builder> 
</ng-template>