<app-page-header header="Employees" icon="manage_accounts">
  <button mat-raised-button (click)="openNewEmployeeDialog()" class="flex items-center">
    Add Employee
    <mat-icon>add</mat-icon>
  </button>
</app-page-header>

<div class="flex flex-row items-center justify-between px-3 pt-2 pb-4 bg-violet-200 rounded-sm shadow-md ">
  <app-table-builder [config]="tableConfig" class="w-full">
    <ng-template appColumnTemplate="actions" let-row>

      <div class="flex flex-row">
        <button mat-icon-button (click)="openEditEmployeeDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openConfirmDeleteEmployee(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </ng-template>
  </app-table-builder>
</div>


<ng-template #previewEmployeeTmpl>
  <mat-tab-group class="min-h-[80vh]">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">assignment</mat-icon>
        Tasks
      </ng-template>

      <div class="flex my-2">
        <button mat-raised-button color="primary" (click)="openTaskDialog(null)" class="flex items-center gap-2">
          <mat-icon>add</mat-icon>
          Add Task
        </button>
      </div>

      <app-table-builder [config]="tasksTableConfig">
        <ng-template appColumnTemplate="actions" let-row>
          <div class="flex flex-row">
            <button mat-icon-button (click)="openTaskDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openConfirmDeleteTaskDialog(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </app-table-builder>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">info</mat-icon>
        Info
      </ng-template>

      <div class="p-4 overflow-hidden">
        <app-form-builder
          [config]="employeeFormConfig"
          [values]="employeeData"
          (formValuesChange)="checkDepartment($event)"
          (submitHandler)="updateEmployee($event)">
        </app-form-builder>
      </div>
    </mat-tab>

  </mat-tab-group>
</ng-template>


<ng-template #addEmployeeTmpl>
  <app-form-builder [config]="employeeFormConfig" [values]="employeeData" (formValuesChange)="checkDepartment($event)"
    (submitHandler)="addNewEmployee($event)"></app-form-builder>
</ng-template>

<ng-template #taskFormTmpl>
  <app-task-form [taskData]="taskData" [assignee]="employeeData.id" (onAfterSubmit)="onAfterSubmitTask($event)">
  </app-task-form> 
</ng-template>