
<div class="crm-table-con flex flex-row items-center justify-between px-3 pt-2 pb-4 rounded-sm shadow-md">
  <app-table-builder [config]="dealsTableConfig" class="w-full"></app-table-builder>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-4">
  <div *ngIf="totalChartData && totalChartConfig" 
    class="bg-gray-300/50 shadow-md rounded-2xl p-6 backdrop-blur-sm">
    <app-chart [data]="totalChartData" [config]="totalChartConfig"></app-chart>
  </div>

  <div *ngIf="totalPerDealStageChartData && totalPerDealStageChartConfig" 
    class="bg-gray-300/50 shadow-md rounded-2xl p-6 backdrop-blur-sm">
    <app-chart [data]="totalPerDealStageChartData" [config]="totalPerDealStageChartConfig"></app-chart>
  </div>

  <div *ngIf="totalPerCompanyChartData && totalPerCompanyChartConfig" 
    class="bg-gray-300/50 shadow-md rounded-2xl p-6 backdrop-blur-sm">
    <app-chart [data]="totalPerCompanyChartData" [config]="totalPerCompanyChartConfig"></app-chart>
  </div>

  <div *ngIf="totalPerDealTypeChartData && totalPerDealTypeChartConfig" 
    class="bg-gray-300/50 shadow-md rounded-2xl p-6 backdrop-blur-sm">
    <app-chart [data]="totalPerDealTypeChartData" [config]="totalPerDealTypeChartConfig"></app-chart>
  </div>
</div>



