<div class="calendar-container">


    <div class="flex flex-row items-center justify-center gap-2 bg-violet-800 !color-gray-300 calendar-header">

      <button mat-icon-button (click)="previous()" style="line-height: 23px;"> 
        <mat-icon>chevron_left</mat-icon>
      </button> 
      
      <span class="header-title">{{ viewDate | date:'MMMM y' }}</span>
      
      <button mat-icon-button (click)="next()" style="line-height: 23px;">
        <mat-icon class="cursor-pointer">chevron_right</mat-icon>
      </button>

      <!-- 
      <button mat-button (click)="view = CalendarView.Month">
        <mat-icon>calendar_view_month</mat-icon>
        Month
      </button>
      <button mat-button (click)="view = CalendarView.Week">
        <mat-icon>calendar_view_week</mat-icon>
        Week
      </button>
      <button mat-button (click)="view = CalendarView.Day">
        <mat-icon>calendar_view_day</mat-icon>
        Day
      </button> 
      -->

    </div>


  <mwl-calendar-month-view 
    *ngIf="view === CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="dayClicked($event)"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view 
    *ngIf="view === CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-week-view>

  <mwl-calendar-day-view 
    *ngIf="view === CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events">
  </mwl-calendar-day-view>
</div>
