<div class="flex flex-row gap-4 py-4">
  <button mat-raised-button (click)="openListDialog(null)">
    <mat-icon>add</mat-icon>
    Add List
  </button>
  
  <button mat-raised-button (click)="openImportListDialog()">
    <mat-icon>upload</mat-icon>
    Import List
  </button>
</div>

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <li
    *ngFor="let item of lists | keyvalue"
    class="crm-list-btn p-4 shadow rounded cursor-pointer hover:bg-gray-100 transition-colors"
    (click)="openListDialog(item)">
    {{ item.key }}
  </li>
</ul>

<!---------------------------------------------------->

<ng-template #listTmpl>
  <div class="p-4">
    <app-form-builder 
      [config]="listFormConfig"
      (submitHandler)="onSubmitList($event)">
    </app-form-builder> 
  
    <div *ngIf="!isNewList" class="mt-64 text-center">
      <button mat-raised-button class="!bg-red-500 !text-white" (click)="deleteList()">
        Delete
      </button>
    </div>
  </div>


</ng-template>

<ng-template #importlistTmpl>
  <div class="p-4"> 
    <app-form-builder 
      [config]="importListFormConfig"
      (submitHandler)="onImportList($event)">
    </app-form-builder> 
  </div>
</ng-template>