<button mat-raised-button (click)="openDealDialog(false)">
  <mat-icon>add</mat-icon>
  Add New Deal Type
</button>

<app-table-builder [config]="dealsTableConfig">
  <ng-template appColumnTemplate="icon" let-row>
    <mat-icon>{{ row.icon }}</mat-icon>
  </ng-template>
  <ng-template appColumnTemplate="actions" let-row>
    <div class="flex flex-row">
      <button mat-icon-button (click)="openDealDialog(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmDeleteDealTypeDialog(row)">
        <mat-icon>delete</mat-icon>
      </button> 
    </div>
  </ng-template>
</app-table-builder>


<!-- <div class="flex flex-row">
      <button mat-icon-button (click)="openTaskDialog(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmDeleteTaskDialog(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->


<ng-template #dealTmpl>
 
  <mat-tab-group>
    <mat-tab label="Deal Type" >
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">assignment</mat-icon>
        Deal Type
      </ng-template>
      <div class="p-4">
        <app-form-builder [config]="dealFormConfig" [values]="dealFormValues" (submitHandler)="onSubmitDeal($event)"></app-form-builder>
      </div>
    </mat-tab>

    <mat-tab label="Fields">
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">list_alt</mat-icon>
        Fields
      </ng-template>
      <div class="p-4">
        <app-form-builder-ui 
          [outputFormConfig]="dealFormFieldsConfig" 
          (onSubmitConfig)="onSubmitDealFieldConfig($event)"
          [submitText]="'Update Field For Deal Type: ' + dealFormValues.label"></app-form-builder-ui>
      </div>
    </mat-tab>
  </mat-tab-group>



</ng-template>
