/* === Angular Material Custom Theming === */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "tailwindcss";

/* === Global Styles === */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: 500;
}
mat-sidenav {
  border-right: 1px solid #eee;
}