/* === Angular Material Custom Theming === */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((
    container-background-color: #5f00c0,
    container-text-color: #fff,
  ));
}
.mat-toolbar .mat-icon {
  color: #fff;
}
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "tailwindcss";

/* === Global Styles === */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: 500;
}
mat-sidenav {
  border-right: 1px solid #eee;
}